/**/:root{}

.App {
  /*margin: 0;*/
  /*padding: 0;*/
  /*text-align: center;*/
}

.App-header {
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
}

.jumbotron {
  background-color: var(--main-color);
  color: white;
  /*margin: 0;*/
  padding: 0 1.5rem 0.01rem;
}

.jumbotron h1, p {
    font-style: italic;
  }

/* small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }

.area {
  /*margin-top: 10px;*/
  margin: 0;
  padding: 0;
}

.hotline {
  margin-bottom: 15px;
}


/*ul {*/
/*  margin: 0;*/
/*  padding: 0;*/
/*}*/

li {
  list-style-type: none;
  //margin: 0;
}

li a {
  color: var(--main-color);
  text-decoration: underline !important;
}
