/**/:root{}

.App {
  margin: 0;
  padding: 0;
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.jumbotron {
  background-color: var(--main-color);
  color: white;
  margin: 0;
  padding: 0 0 0.01rem;
}

/* Extra small devices (phones, up to 480px) */
@media screen and (max-width: 767px) {
  h1 {
    font-size: 32px;
  }
}
/*!* Small devices (tablets, 768px and up) *!*/
/*@media (min-width: 768px) and (max-width: 991px) {*/
/*  h1 {*/
/*    font-size: 32px;*/
/*  }*/
/*}*/
/*!* tablets/desktops and up ----------- *!*/
/*@media (min-width: 992px) and (max-width: 1199px) {*/
/*  !*h1 {*!*/
/*  !*  font-size: 32px;*!*/
/*  !*}*!*/
/*}*/
/*!* large desktops and up ----------- *!*/
/*@media screen and (min-width: 1200px) {*/
/*    h1 {*/
/*    font-size: 81px;*/
/*  }*/
/*}*/

.area {
  margin-top: 10px;
}

.hotline {
  margin-bottom: 15px;
}

a {
  color: var(--main-color);
  text-decoration: underline;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  //margin: 0;
}
