.covid19 {
    margin: 0 1.5rem !important;
}

.area, .hotline, .hours li {
  padding-left: 1.5rem;
  padding-right: 1.0rem;
}

.area ul {
  margin-left: 0;
  padding-left: 0;
}

/*.area li {*/
/*  list-style-type: none;*/
/*}*/
