.hotline {
  margin-bottom: 0.75rem;
}
.area, .hotline, .hours li {
  padding-left: 1.5rem;
  padding-right: 1.0rem;
}

.hotlines h3, .hotlines p {
  margin-left: 1.5rem;
}

.area ul {
  margin-left: 0;
  padding-left: 0;
}

.area li {
  list-style-type: none;
}
