.menu .navbar {
  background-color: var(--main-color) !important;
}

.menu .nav-link {
  text-decoration: none !important;
}

.menu a {
    text-decoration: none;
}

.menu .nav-item li {
    color: white;
}

/* small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
    .EN, .menu .nav-link {
        margin-left: 0.5rem;
    }
    .JP {
        margin-left: 1.0rem;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }

.menu .jumbotron {
  background-color: var(--main-color) !important;
  color: white;
  padding: 0 1.5rem 0.01rem;
  margin-bottom: 1.5rem;
  justify-content: center;
  text-align: center;
}

.menu .jumbotron h1, .menu .jumbotron p {
  font-style: italic;
}
